<div class="row justify-content-md-center">
  <div class="col-lg-6">
    <h1>Lesson List:</h1>
    <p>
      <button class="btn btn-success" (click)="onCreate()">create</button>
    </p>
    <ul *ngFor="let lesson of lessons" class="list-group">
      <li [class.active]="lesson.completed" class="list-group-item">
        <div class="col-xs-6">
          {{lesson.name}}
          <input disabled type="checkbox" [checked]="lesson.completed">
          <p>{{lesson.description}}</p>
        </div>
        <div class="col-xs-6"></div>
          <button class="btn btn-success" (click)="onEdit(lesson)">edit</button>
          <button class="btn btn-danger" (click)="onDelete(lesson)">delete</button>
      </li>
    </ul>
  </div>
</div>